.log{
    display: flex;
    background-color: lightgray;
    padding: 1rem;
    border: 2px solid black;
    width: 80%;
    justify-content: center;
    justify-content: space-between;
    font-weight: 700;
}